@charset "utf-8";

body{
    background-color: #eafcff;
    margin: 0;
}

/* index.html */
.moneylist table{
    border-collapse: separate;
    border-spacing: 0px 0px;
    border-left: solid 1px rgb(176, 174, 174);
}

.moneylist td:not(.delete_button){
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
}

.moneylist tr:nth-child(2n):not(tfoot tr){
    background-color: #f6fcff;
}

.delete_button button, .update_button button{
    border-radius: 5px;
    border: 1px solid rgb(124, 124, 124);
}

.update_button button{
    background: #b6ddff;
}
.delete_button button{
    background: rgba(255, 162, 162, 0.864);
}

.moneylist th, .moneylist td{
    border-right: solid 1px rgb(176, 174, 174);
    border-bottom: solid 1px rgb(176, 174, 174);
}

.moneylist th, .moneylist td:not(.delete_button, .update_button){
    padding: 4px 12px;
}

.moneylist tbody{
    background-color: rgba(225, 240, 252, 0.652);
}

th.delete_button, td.delete_button{
    border-right: none;
}

table th{
    position: sticky;
    top: 0;
}

table tfoot{
    position: sticky;
    bottom: 0;
}

#panel1 tfoot, #panel1 th{
    background-color: #2486d1;
    color: white;
}

#panel2 tfoot, #panel2 th{
    background-color: rgb(124 200 251 / 98%);
    color: #2d3173;
}


.moneylist tfoot td{
    border-top: solid 1px rgb(176, 174, 174);
}

.moneylist thead th{
    border-top: solid 1px rgb(176, 174, 174);
}


.panel_area{
    margin-left: 25px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* タブの切り替え(収入・支出) */
.tab_wrap{margin: 10px auto;}
input[type="radio"]{display:none;}
.tab_area{font-size:0; margin:0 25px;}
.tab_area label{width:150px; margin:0 5px; display:inline-block; padding:12px 0; color:#999; background:#ddd; text-align:center; font-size:13px; cursor:pointer; transition:ease 0.2s opacity;}
.tab_area label:hover{opacity:0.5;}
.panel_area{background:#fff; max-width: 770px; min-width: 580px; width: 72%;}
.moneylist{display:none;}

#tab1:checked ~ .tab_area .tab1_label{background:#fff; color:#000;}
#tab1:checked ~ .panel_area #panel1{display:block;}
#tab2:checked ~ .tab_area .tab2_label{background:#fff; color:#000;}
#tab2:checked ~ .panel_area #panel2{display:block;}

/* 固定ヘッダー */
.header01 {
    padding: 16px 24px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

h1.header01-logo{
      color: #267fc2;
      size: 1.2;
  }
  
.header01-logo {
    font-weight: bold;
    font-size: 20px;
  }
  
.header01-list {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: bold;
  }
  
.header01-item--contact {
    background-color: #2486d1;
    color: #fff;
    padding: 6px 16px;
    border-radius: 6px;
  }
  
.header01 a {
    text-decoration: none;
    color: inherit;
  }
.header01 a:hover{
    text-decoration: underline;
  }

.header01 ul{
      padding-left: 0;
  }

.header01 li{
      list-style: none;
  }

/* セレクトボックス（カテゴリー） */
.select{
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 15px;
}

.select::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 120px;
    height: 40px;
    padding: 5px 50px 5px 15px;
    border: 1px solid #a8a8a8;
    border-radius: 25px;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}


/* 条件一致（カテゴリー）のボタン */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
    transform: translateY(-3px);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.btn:hover::after {
    background-color: rgb(0, 238, 255);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}
input.btn{
    background: #65b3ff69;
    border: 1px solid #a8a8a8;
    width: 50px;
    height: 27px;
    border-radius: 10px;
}


/* /newへのページ遷移ボタン */



.add_button button{
    background: white;
    width: 50px;
    height: 50px;
    border: 1px solid #a8a8a8;
    border-radius: 75px;
}

.form{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 50px;
}


/* リスト切り替え(月ごと)のボタン */
.list_change button{
    color: #4673d8;
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
}

.list_change button:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
  
.list_change{
    margin: 15px;
}

.list_change label{
    padding: 0 15px;
}

.list_change_l{
    color: #253291;
    font-weight: bold;
}

@media screen and (min-width: 620px) {
    .moneylist .date_col{
        min-width: 96px;
    }
    
    .moneylist .category_col{
        width: 98px;
        min-width: 98px;
    }
    
    .moneylist .price_col{
        width: 110px;
        min-width: 90px;
    }
    
    .moneylist .detail_col{
        width: 271px;
        min-width: 100px;
    }
    
    .moneylist th.delete_button, .moneylist th.update_button{
        width: 21px;
        min-width: 20px;
    }
    
    .moneylist .delete_button form, .moneylist .delete_button button, .update_button form, .update_button button{
        width: 30px;
        height: 30px;
    }

}

@media screen and (min-width: 730px) {
    .add_button{
        position: absolute;
        bottom: 30px;
        right: 25px;
    }
}

@media screen and (max-width: 729px) {
    .add_button{
        position: absolute;
        left: 540px;
    }
}

@media screen and (max-width: 620px) {
    .moneylist .date_col{
        width: 96px;
    }
    
    .moneylist .category_col{
        width: 98px;
    }
    
    .moneylist .price_col{
        width: 90px;
    }
    
    .moneylist .detail_col{
        width: 100px;
    }
    
    .moneylist th.delete_button, .moneylist th.update_button{
        width: 20px;
    }
    
    .moneylist .delete_button form, .moneylist .delete_button button, .update_button form, .update_button button{
        width: 30px;
        height: 30px;
    }
}


button{
    cursor: pointer;
}












