{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock header %}

{% block content %}

{% include 'header2.html' %}


<div class="form">
    {% if button_sel == 1 %}
    <div class="list_change">
        <form action="/index" method="post">
            <button type="submit" name="up" value="2">＜</button>
            <label for="" class="list_change_l">{{ today_year }}年 {{ today_month }}月</label>
            <button type="submit" name="up" value="1">＞</button>
        </form>
    </div>
    {% else %}
    <div class="list_change">
        <form action="/index/{{today_year}}/{{today_month}}" method="post">
            <button type="submit" name="up" value="2">＜</button>
            <label for="" class="list_change_l">{{ today_year }}年 {{ today_month}}月</label>
            <button type="submit" name="up" value="1">＞</button>
        </form>
    </div>
    {% endif %}

    <div class="f_conditions">
        <form action="/conditions" method="post">
            <div class="select">
                <select name="category_conditions">
                    <option value="">カテゴリー</option>
                    <option value="食費">食費</option>
                    <option value="日用品">日用品</option>
                    <option value="交通費">交通費</option>
                    <option value="その他">その他</option>
                </select>
            </div>
            <input type="submit" value="検索" class="btn"> 
        </form>
    </div>
</div>


<div class="tab_wrap">
    <input type="radio" name="tab_btn" id="tab1" checked>
    <input type="radio" name="tab_btn" id="tab2">

    <div class="tab_area">
        <label for="tab1" class="tab1_label">支出</label>
        <label for="tab2" class="tab2_label">収入</label>
    </div>

    <div class="panel_area">

    {% include 'list1.html' %}

    {% include 'list2.html' %}

    </div>
</div>

<div class="add_button">
    <form action="/new" method="get">
        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>              
        </button>
    </form>
</div>



{% endblock content %}