{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock header %}

{% block content %}
<header class="header01">
    <h1 class="header01-logo">LOGO</h1>

    <nav class="header01-nav">
        <ul class="header01-list">
            <li class="header01-item"><a href="/graph">グラフ</a></li>
            <li class="header01-item"><a href="/index">リスト</a></li>
            <li class="header01-item"><a href="">統計</a></li>
            <li class="header01-item header01-item--contact"><a href="/logout" role="button">ログアウト</a></li>
        </ul>
    </nav>
</header>


<div class="form">
{% if button_sel == 1 %}
<div class="list_change">
<form action="/index" method="post">
    <button type="submit" name="up" value="2">＜</button>
    <label for="">{{ today_year }}年{{ today_month}}月</label>
    <button type="submit" name="up" value="1">＞</button>
</form>
</div>
{% else %}
<div class="list_change">
<form action="/index/{{today_year}}/{{today_month}}" method="post">
    <button type="submit" name="up" value="2">＜</button>
    <label for="">{{ today_year }}年{{ today_month}}月</label>
    <button type="submit" name="up" value="1">＞</button>
</form>
</div>
{% endif %}

<div class="f_conditions">
    <form action="/conditions" method="post">
        <div class="select">
            <select name="category_conditions">
        <option value="">カテゴリー</option>
        <option value="食費">食費</option>
        <option value="収入">収入</option>
        <option value="日用品">日用品</option>
        <option value="その他">その他</option>
            </select>
        </div>
        <input type="submit" value="検索" class="btn"> 
    </form>
</div>
</div>


<div class="tab_wrap">
    <input type="radio" name="tab_btn" id="tab1" checked>
    <input type="radio" name="tab_btn" id="tab2">

<div class="tab_area">
    <label for="tab1" class="tab1_label">支出</label>
    <label for="tab2" class="tab2_label">収入</label>
</div>

<div class="panel_area">
<div class="moneylist" id="panel1" style="height: 488px;overflow: scroll;width: 100%;">
<table>
    <thead class="list_head">
        <tr>
            <th class="date_col">日付</th>
            <th class="category_col">カテゴリー</th>
            <th class="detail_col">メモ</th>
            <th class="price_col">金額</th>
            <th class="delete_button"></th>
            <th class="update_button"></th>
        </tr>
    </thead>

    <tbody>
    {% for money in moneys %}
        <tr>
            <td class="date_col">{{ money.use_date }}</td>
            <td class="category_col" align="center">{{ money.use_category }}</td>
            <td class="detail_col">{{ money.detail_text }}</td>
            <td class="price_col" align="right">{{ money.price }}</td>
            <td class="delete_button" style="padding: 4px; padding-left: 12px;">
            <form action="/delete" method="post" class="delete_button">
                <button type="submit" name="id" value="{{ money.id }}" class="delete_button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                  </button>
            </form>
            </td>
            <td class="update_button">
                <form action="/update" method="post" class="update_button">
                    <button type="submit" name="id" value="{{ money.id }}" class="update_button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                        </svg>                          
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    
    {% if blank_moneys >= 1 %}
    {% for blank_money in range(blank_moneys) %}
        <tr style="height: 39px;">
            <td class="date_col"></td>
            <td class="category_col" align="center"></td>
            <td class="detail_col"></td>
            <td class="price_col" align="right"></td>
            <td class="delete_button" style="padding: 4px; padding-left: 12px;">
            </td>
            <td class="update_button">
            </td>
        </tr>
    {% endfor %}
    {% endif %}
    </tbody>

    <tfoot class="list_foot">
        <tr>
            <td class="date_col" id="sum"></td>
            <td class="category_col" id="sum"></td>            
            <td class="detail_col" id="sum" align="right">総支出</td>                
            <td class="price_col" id="sum" align="right">{{ sum_price }}</td> 
            <td class="delete_button"></td>
            <td class="update_button"></td>           
        </tr>
    </tfoot>

</table>
</div>

<div class="moneylist" id="panel2" style="height: 488px;overflow: scroll;width: 100%;">
    <table>
        <thead class="list_head">
            <tr>
                <th class="date_col">日付</th>
                <th class="category_col">カテゴリー</th>
                <th class="detail_col">メモ</th>
                <th class="price_col">金額</th>
                <th class="delete_button"></th>
                <th class="update_button"></th>
            </tr>
        </thead>
    
        <tbody>
        {% for income in incomes %}
            <tr>
                <td class="date_col">{{ income.use_date }}</td>
                <td class="category_col" align="center">{{ income.use_category }}</td>
                <td class="detail_col">{{ income.detail_text }}</td>
                <td class="price_col" align="right">{{ income.price }}</td>
                <td class="delete_button" style="padding: 4px; padding-left: 12px;">
                <form action="/delete" method="post" class="delete_button">
                    <button type="submit" name="id" value="{{ income.id }}" class="delete_button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                      </button>
                </form>
                </td>
                <td class="update_button">
                    <form action="/update" method="post" class="update_button">
                        <button type="submit" name="id" value="{{ income.id }}" class="update_button">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                            </svg>                          
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}

        {% if blank_incomes >= 1 %}
        {% for blank_income in range(blank_incomes) %}
            <tr style="height: 39px;">
                <td class="date_col"></td>
                <td class="category_col" align="center"></td>
                <td class="detail_col"></td>
                <td class="price_col" align="right"></td>
                <td class="delete_button" style="padding: 4px; padding-left: 12px;">
                </td>
                <td class="update_button">
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    
        <tfoot class="list_foot">
            <tr>
                <td class="date_col" id="sum"></td>
                <td class="category_col" id="sum"></td>            
                <td class="detail_col" id="sum" align="right">総収入</td>                
                <td class="price_col" id="sum" align="right">{{ sum_income }}</td> 
                <td class="delete_button"></td>
                <td class="update_button"></td>           
            </tr>
        </tfoot>
    
    </table>
    </div>
</div>
</div>

<div class="add_button">
    <form action="/new" method="get">
        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>              
        </button>
    </form>
</div>

<div class="profit">
    <h2>{{ today_month }}月の収益は</h2>
    <h3>{{ profit }}円です</h3>
</div>


{% endblock content %}