{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock header%}

{% block content %}

{% include 'header.html' %}

<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form method="post" class="login-container">
      {% if username or email or password %}
      <p><input type="text" placeholder="Username" name="username" value="{{ username }}" required autocomplete="off"></p>
      {% if error1 %}
      <div class="error">{{ error1 }}</div>
      {% endif %}
      <p><input type="text" placeholder="email" name="email" value="{{ email }}" required></p>
      {% if error2 %}
      <div class="error">{{ error2 }}</div>
      {% endif %}
      <p><input type="password" id="password" placeholder="Password" name="password" required></p>
      {% if error3 %}
      <div class="error">{{ error3 }}</div>
      {% endif %}
      <input type="checkbox" id="password-check"><label for="password-check" style="font-size: 15px;">パスワードを表示する</label>

      {% else %}
      <p><input type="text" placeholder="Username" name="username" required autocomplete="off"></p>
      {% if error1 %}
      <div class="error">{{ error1 }}</div>
      {% endif %}
      <p><input type="text" placeholder="email" name="email" required></p>
      {% if error2 %}
      <div class="error">{{ error2 }}</div>
      {% endif %}
      <p><input type="password" id="password" placeholder="Password" name="password" required minlength="8"></p>
      {% if error3 %}
      <div class="error">{{ error3 }}</div>
      {% endif %}
      <input type="checkbox" id="password-check"><label for="password-check" style="font-size: 15px;">パスワードを表示する</label>
      {% endif %}
      <p><input type="submit" value="コード送信"></p>
    </form>
  </div>

  <script>
    const pwd = document.getElementById('password');
    const pwdCheck = document.getElementById('password-check');
    pwdCheck.addEventListener('change', function() {
        if(pwdCheck.checked) {
            pwd.setAttribute('type', 'text');
        } else {
            pwd.setAttribute('type', 'password');
        }
    }, false);
  </script> 
{% endblock content %}