{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
{% endblock header %}

{% block content %}

<div class="listadd">
    <h1 class="listadd_tl">出費/収入登録</h1>
        <form action='/new' method="post">
        <table class="listadd_table">
            <tr>
                <th class="listadd_item">日付</th>
                <td class="listadd_body">
                    <input type="date" name="use_date" class="listadd_select" required>
                </td>
            </tr>
            <tr>
                <th class="listadd_item">カテゴリー</th>
                <td class="listadd_body">
                    <select name="use_category" class="listadd_select" required>
                        <option value="">ー</option>
                        <optgroup label="収入">
                            <option value="収入 給与所得">給与所得</option>
                            <option value="収入 臨時収入">臨時収入</option>
                            <option value="収入 ボーナス">ボーナス</option>
                        </optgroup>
                        <optgroup label="食費">
                            <option value="食費 食料品">食料品</option>
                            <option value="食費 外食">外食代</option>
                            <option value="食費 その他">その他</option>
                        </optgroup>
                        <optgroup label="日用品">
                            <option value="日用品 家具">家具</option>
                            <option value="日用品 衣服">衣服</option>
                            <option value="日用品 玩具">玩具</option>
                            <option value="日用品 文房具">文房具</option>
                            <option value="日用品 スポーツ用品">スポーツ用品</option>
                            <option value="日用品 ベビー用品">ベビー用品</option>
                            <option value="日用品 その他">その他</option>
                        </optgroup>
                        <optgroup label="交通費">
                            <option value="交通費 電車代">電車代</option>
                            <option value="交通費 タクシー代">タクシー代</option>
                            <option value="交通費 バス代">バス代</option>
                            <option value="交通費 その他">その他</option>
                        </optgroup>
                        <optgroup label="その他">
                            <option value="その他 チャージ">電子マネーにチャージ</option>
                            <option value="その他 その他">その他</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="listadd_item">価格</th>
                <td class="listadd_body">
                    <input type="number" name="price" required min="0" class="listadd_text">
                </td>
            </tr>
            <tr>
                <th class="listadd_item">メモ</th>
                <td class="listadd_body">
                    <input type="text" name="detail_text" class="listadd_textarea">
                </td>
            </tr>         
        </table>
        <input type="submit" value="追加" class="listadd_submit">
        </form>
</div>

{% endblock content %}