{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock header %}

{% block content %}

{% include 'header.html' %}

<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">新規登録</h2>
  
    <form method="post" class="login-container">

        {% if email %}
            <p><input type="text" placeholder="email" name="email" value="{{ email }}" required></p>
        {% else %}
            <p><input type="text" placeholder="email" name="email" required></p>
        {% endif %}

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <p><input type="submit" value="コード送信"></p>

    </form>
  </div>
{% endblock content %}