{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock header %}

{% block content %}

{% include 'header.html' %}

<div class="login">
  <h2 class="login-header">Sign up</h2>
  
  <form method="post" class="login-container">
    {% if username and password %}
      <p><input type="text" placeholder="Username" name="username" value="{{ username }}" required></p>
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
      <p><input type="text" placeholder="Password" name="password" autocomplete="off" minlength="8" value="{{ password }}" required></p>
    {% else %}
      <p><input type="text" placeholder="Username" name="username" required></p>
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
      <p><input type="text" placeholder="Password" name="password" autocomplete="off" minlength="8" required></p>
    {% endif %}
    <p><input type="submit" value="Sign up"></p>
  </form>
</div>
{% endblock content %}