{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock header %}

{% block content %}

{% include 'header.html' %}

<div class="login">
  <h2 class="login-header">新規登録</h2>
  
  <form method="post" class="login-container">
    {% if username and password %}
      <p><input type="text" placeholder="Username" name="username" value="{{ username }}" required></p>
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
      <p><input type="text" id="password" placeholder="Password" name="password" autocomplete="off" minlength="8" value="{{ password }}" required></p>
      <input type="checkbox" id="password-check"><label for="password-check" style="font-size: 15px;">パスワードを表示する</label>
    {% else %}
      <p><input type="text" placeholder="Username" name="username" required></p>
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
      <p><input type="password" id="password" placeholder="Password" name="password" autocomplete="off" minlength="8" required></p>
      <input type="checkbox" id="password-check"><label for="password-check" style="font-size: 15px;">パスワードを表示する</label>
    {% endif %}
    <p><input type="submit" value="Sign up" id="signup"></p>
  </form>
</div>

<script>
  const pwd = document.getElementById('password');
  const pwdCheck = document.getElementById('password-check');
  pwdCheck.addEventListener('change', function() {
      if(pwdCheck.checked) {
          pwd.setAttribute('type', 'text');
      } else {
          pwd.setAttribute('type', 'password');
      }
  }, false);
</script> 
{% endblock content %}