{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock header %}

{% block content %}
<header class="header01">
    <h1 class="header01-logo">LOGO</h1>

    <nav class="header01-nav">
        <ul class="header01-list">
            <li class="header01-item"><a href="/signup">新規登録</a></li>
            <li class="header01-item"><a href="/login">ログイン</a></li>
        </ul>
    </nav>
</header>

<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Sign up</h2>
  
    <form method="post" class="login-container">
      <p><input type="text" placeholder="Username" name="username"></p>
      <p><input type="text" placeholder="email" name="email"></p>
      <p><input type="text" placeholder="Password" name="password"></p>
      <p><input type="submit" value="Sign up"></p>
    </form>
  </div>
{% endblock content %}