{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock header %}

{% include 'header.html' %}

{% block content %}
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

{% if error %}
  <p><strong>Error:</strong>{{ error }}</p>
{% endif %}
  <form method="post" class="login-container">
    <p>{{ email }}</p>
    <p><input type="text" placeholder="認証コード" name="verificationcode"></p>
    <p><input type="submit" value="submitcode"></p>
  </form>
</div>
{% endblock content %}
